
body{
    background-color: rgb(10, 166, 135);
    text-align: center;
    font-family: sans-serif;

}

div{
    background-color: rgb(200, 237, 230);
    width: 500px;
    position: absolute;
    padding: 20px;
    
}

h2{
    font-size: 30px;
    font-weight: 60px;
}

#result{
    color: brown;
}

#btn{
    color: rgb(4, 70, 56);
    font-family: inherit;
    background-color:aquamarine
}

